.buttonmain{

 border-color:#787878;
 background-color:#9A5252;
 border: 0px;
 height: 91px;
 width: 300px;
 text-align: center;
 color: white;
 font-size:48px;
 line-height:58px;
 font-weight:bold; 

}
.buttonmain:hover{background-color:black;}
.buttonmain:ButtonSelected{background-color:transparent;}

#leftcolumn{
 float: left;
 }

#centercolumn{
 float: left;
}

#rightcolumn{
 float: left;
}



