
input.readonly, textarea { background: gray; }
input.input-box, textarea { background: white; }


.buttonmain{

 border-color:#787878;
 background-color:#9A5252;
 border: 0px;
 height: 51px;
 width: 200px;
 text-align: center;
 color: white;
 font-size:24px;
 line-height:51px;
 font-weight:bold; 

}
.buttonmain:hover{background-color:black;}
.buttonmain:ButtonSelected{background-color:transparent;}



#leftcolumn{

 border-color:#787878;
 background-color:#7F7F7F;
 border: 0px;
 height: 51px;
 width: 500px;
 min-width: 500px;
 text-align: center;
 color: white;
 font-size:12px;
 font-weight:bold; 
 float: left;
 line-height: 51px;
 margin-right: 20px;
 }

#centercolumn1{
 float: left;
 margin-right: 20px;

 background-color: transparent;
}
#centercolumn2{
 float: left;
 margin-right: 20px;

 background-color: transparent;
}

#rightcolumn{
 border-color:#787878;
 background-color:#7F7F7F;
 border: 0px;
 height: 51px;
 width: 500px;
 text-align: center;
 color: white;
 font-size:12px;
 font-weight:bold; 
 float: left;
 line-height: 51px;
 min-width: 500px;



}
#topnav{
 padding: 20px 20px 20px 0px;
 background-color: #464343;
 height: 51px;
 min-width: 1400px;

 }
#content{
 background-color: gray;
 padding: 20px;
}
#reviewcolumn{
border: 1px;
border-color: #787878;

 float:left;
}
#savecolumn{
border: 2px;
border-color: #787878:

 float:left;
}

#assigncolumn1{
border: 1px;
border-color: #787878;

 float:left;
}
#assigncolumn2{
border: 2px;
border-color: #787878:

 float:left;
}
#file{
border: 1px;
border-color: #787878;
width: 500px;
 float:left;
}


.gps_table {
	background-color: #e6e6e6
	vertical-align: text-top;
}

tr.gps_table td {
border-bottom:1pt solid black;
	background-color: #e6e6e6

}





