



.buttonmain{

 border-color:#787878;
 background-color:#9A5252;
 border: 0px;
 height: 51px;
 width: 300px;
 text-align: center;
 color: white;
 font-size:48px;
 line-height:58px;
 font-weight:bold; 

}
.buttonmain:hover{background-color:black;}
.buttonmain:ButtonSelected{background-color:transparent;}



#leftcolumn{

 border-color:#787878;
 background-color:#7F7F7F;
 border: 0px;
 height: 51px;
 width: 500px;
 text-align: center;
 color: white;
 font-size:12px;
 font-weight:bold; 
 float: left;
 line-height: 51px;
 padding-right: 20px:
 margin-left: 20px:

 }

#centercolumn{
 float: left;
 margin-left: 20px:
}

#rightcolumn{
 border-color:#787878;
 background-color:#7F7F7F;
 border: 0px;
 height: 51px;
 width: 500px;
 text-align: center;
 color: white;
 font-size:12px;
 font-weight:bold; 
 float: left;
 line-height: 51px;
 margin-left: 20px:
 margin-right: 20px:
}
#topnav{
 padding: 20px 20px 20px 20px;
 background-color: #464343;
 height: 51px;
 }
#content{
background-color: gray;
clear:left;
}



